@{
    ViewData["Title"] = "Início";
}

<div class="main-content">
    <div class="user-info">
        <p class="greeting">Oi, Stefany</p>
        <h2>Você já se exercitou hoje?</h2>
        <div class="stats">
            <div class="stat-item">
                <span>Peso</span>
                <span>70 Kg</span>
            </div>
            <div class="stat-item">
                <span>Altura</span>
                <span>160 cm</span>
            </div>
            <div class="stat-item">
                <span>Treinos no mês</span>
                <span>15</span>
            </div>
        </div>
    </div>

    <div class="workout-section">
        <div class="cta-banner">
            <p>Uma vida saudável pertence a todos</p>
            <a href="#" class="btn-exercise">Comece a se exercitar</a>
        </div>
        <div class="categories">
            <h3>Categoria</h3>
            <div class="category-items">
                <span>Quadríceps</span>
                <span>Bíceps</span>
                <span>Ombro</span>
                <span>Costas</span>
                <span>Posterior</span>
                <span>Glúteos</span>
                <span>Abdômen</span>
            </div>
        </div>

        <div class="popular-workout">
            <h3>Popular Workout</h3>
            <div class="workout-items">
                <div class="workout-item">
                    <img src="~/css/—Pngtree—dumbbell equipment_594968.png" alt="Subindo e descendo escadas" />
                    <span>Subindo e descendo escadas</span>
                </div>
                <div class="workout-item">
                    <img src="~/css/—Pngtree—dumbbell equipment_594968.png" alt="Definindo o abdômen" />
                    <span>Definindo o abdômen</span>
                </div>
            </div>
        </div>
    </div>
</div>
